<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <script th:href="@{/webjars/jquery/3.4.0/jquery.min.js} "></script>
</head>
<body>
    <div class="container">Error Page</div>
    <p th:text="${orderid}">Welcome to our grocery store!</p>
    <table th:each="error: ${status}">
       <tr>
           <td>delivery number status:</td>
       </tr>
    </table>


</body>
</html>