<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
    <title>Title</title>
</head>
<body>
    <div class="container">Status Page</div>
    <p th:text="${orderid}">Welcome to our grocery store!</p>
    <table th:each="status: ${status}">
       <tr>
           <td>delivery number status</td>
           <td th:text="${status.externalStatus}" />
       </tr>
        <tr>
            <td>delivery status</td>
            <td th:text="${status.deliveryStatus}" />
        </tr>
        <tr>
            <td>delivery company</td>
            <td th:text="${status.expressDelCom}" />
        </tr>
        <tr>
            <td>vrijeme dostave</td>
            <td th:text="${status.date}" />
        </tr>
        <tr>
            <td>neki broj</td>
            <td th:text="${status.HUnumberExt}" />
        </tr>
        <tr>
            <td>ime</td>
            <td th:text="${status.address.name}" />
        </tr>
        <tr>
            <td>telefonski broj</td>
            <td th:text="${status.address.telNumber}" />
        </tr>
        <tr>
            <td>adresa</td>
            <td th:text="${status.address.street}" />
        </tr>
        <tr>
            <td>grad</td>
            <td th:text="${status.address.town}" />
        </tr>
        <tr>
            <td>poštanski broj</td>
            <td th:text="${status.address.postNumber}" />
        </tr>
        <hr/>
        <br>
    </table>

    <script th:src="@{/webjars/jquery/jquery.js}" th:text="''"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.js}" th:text="''"/>
</body>
</html>